@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NG+Modern:wght@100..400&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .div1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 0;
}
header .div1 h1 {
  font-family: "Playfair Display", italic;
  text-align: center;
  color: black;
  margin: auto;
  font-size: 40px;
}
header .div1 .logo3 {
  width: 10vh;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media (max-width: 480px) {
  header .div1 .logo3 {
    align-self: center;
    width: 3vh;
    height: auto;
  }
}

footer {
  width: 100%;
}
footer .gridfooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Columnas flexibles que se ajustan al tamaño del contenedor */
  gap: 10px;
  padding: 20px;
  background-color: rgb(129, 26, 45);
  box-sizing: border-box;
  width: 100%;
  margin: 0; /*margin: -30px auto -40px -10px;*/
}
footer .gridfooter .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Altura de 300px */
}
footer .gridfooter .grid-item img {
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
  /*margin: 10%;*/
  object-fit: contain;
  transition: transform 0.3s ease;
}
footer .gridfooter .grid-item:hover img {
  transform: scale(1.2);
}
footer .gridfooter .grid-item ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0;
  transition: transform 0.3s ease;
}
footer .gridfooter .grid-item ul li {
  padding: 5px 0; /* Espaciado entre los elementos de la lista */
  color: white; /* Color del texto */
}
footer .gridfooter .grid-item ul li a {
  color: white;
  text-decoration: none;
  font-family: "Playfair Display", italic;
}
footer .gridfooter .grid-item ul li a:hover {
  color: rgb(49, 9, 16);
  transform: scale(1.2);
}

main .menu2 {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
main .menu2 .menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
main .menu2 .menu ul li {
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
  font-family: "EB Garamond", serif !important;
}
main .menu2 .menu ul li a {
  color: rgb(129, 26, 45);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
main .menu2 .menu ul li a:hover {
  color: rgb(175, 76, 94);
}
@media (max-width: 768px) {
  main .menu2 .menu ul {
    flex-direction: column;
  }
  main .menu2 .menu ul li {
    margin: 5px 0;
  }
}
@media (max-width: 576px) {
  main .menu2 .menu ul li {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  main .menu2 .menu ul li {
    font-size: 16px;
  }
}
main .imagen {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  top: 0px;
}
main .portada {
  background-color: rgb(129, 26, 45);
  width: 100%;
  margin: 0px;
  padding: 1%;
}
main .portada h2 {
  font-family: "Playfair Display", italic;
  text-align: center;
  color: white;
}
main .logo {
  width: 10%;
  height: auto;
  display: block;
  margin-top: 0%;
  margin-right: 5%;
}
main .grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
}
main .grid1 p {
  font-family: "Crimson Text", serif;
  font-size: 25px;
  color: rgb(129, 26, 45);
}
main .grid1 .grid1-item {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}
main .grid1 .grid1-item:hover {
  transform: scale(1.1);
}
main .grid1 .grid1-item img {
  max-width: 100%;
  height: auto;
}
main .grid1 .grid1-item h3 {
  margin: 10px 0;
  font-family: "Crimson Text", serif;
}
main .grid1 .grid1-item h3:hover {
  color: rgb(175, 76, 94);
}
@media (max-width: 480px) {
  main .grid1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  main .grid1 {
    grid-template-columns: 1fr;
  }
}

.menu2 {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu2 .menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu2 .menu ul li {
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
  font-family: "EB Garamond", serif !important;
}
.menu2 .menu ul li a {
  color: rgb(129, 26, 45);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.menu2 .menu ul li a:hover {
  color: rgb(175, 76, 94);
}
@media (max-width: 768px) {
  .menu2 .menu ul {
    flex-direction: column;
  }
  .menu2 .menu ul li {
    margin: 5px 0;
  }
}
@media (max-width: 576px) {
  .menu2 .menu ul li {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .menu2 .menu ul li {
    font-size: 16px;
  }
}

.cajalibros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajalibros .tituloformulario {
  font-family: "Playfair Display", italic;
  color: rgb(175, 76, 94);
  align-items: center;
}
.cajalibros .categorias {
  font-family: "Playfair Display", italic;
  align-items: center;
}

.menu2 {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu2 .menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu2 .menu ul li {
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
  font-family: "EB Garamond", serif !important;
}
.menu2 .menu ul li a {
  color: rgb(129, 26, 45);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.menu2 .menu ul li a:hover {
  color: rgb(175, 76, 94);
}
@media (max-width: 768px) {
  .menu2 .menu ul {
    flex-direction: column;
  }
  .menu2 .menu ul li {
    margin: 5px 0;
  }
}
@media (max-width: 576px) {
  .menu2 .menu ul li {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .menu2 .menu ul li {
    font-size: 16px;
  }
}

.buscar {
  font-family: "Crimson Text", serif;
  background-color: white;
  position: sticky;
  top: 33px;
  z-index: 1000;
  margin: 20px auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 216px;
  }
}
@media (max-width: 576px) {
  .buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 199px;
  }
}
@media (max-width: 480px) {
  .buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 182px;
  }
}

/* Estilos vinilo-container */
.vinilos-container {
  padding: 20px;
  margin: 100px;
}
@media (max-width: 768px) {
  .vinilos-container {
    margin: 50px 10px;
  }
}

/* Estilos para las tarjetas */
.card {
  border: 1px solid rgba(0, 0, 0, 0.3); /* Borde con sombra suave */
  border-radius: 10px; /* Bordes redondeados */
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}
.card:hover {
  transform: translateY(-10px); /* Efecto de elevación al hacer hover */
}
.card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card-title {
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  color: rgb(129, 26, 45); /* Color del texto */
  margin-bottom: 0; /* Eliminar margen inferior */
  font-family: "Crimson Text", serif;
  font-weight: 400;
}
.card .card-text {
  color: rgb(49, 9, 16); /* Color del texto secundario */
  font-family: "Crimson Text", serif;
}

.menu2 {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu2 .menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu2 .menu ul li {
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
  font-family: "EB Garamond", serif !important;
}
.menu2 .menu ul li a {
  color: rgb(129, 26, 45);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.menu2 .menu ul li a:hover {
  color: rgb(175, 76, 94);
}
@media (max-width: 768px) {
  .menu2 .menu ul {
    flex-direction: column;
  }
  .menu2 .menu ul li {
    margin: 5px 0;
  }
}
@media (max-width: 576px) {
  .menu2 .menu ul li {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .menu2 .menu ul li {
    font-size: 16px;
  }
}

.carousel {
  height: 321px;
  width: 100%;
}
.carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Media Queries */
@media (max-width: 768px) {
  .carousel {
    width: 100%;
    height: 270px;
  }
}
@media (max-width: 576px) {
  .carousel {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .carousel {
    width: 100%;
    height: 150px;
  }
}
/* Grid Pestana cafeteria */
.container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: -100px;
  transition: transform 0.3s ease;
}
.container .row .col-sm {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font-family: "Crimson Text", serif;
}
.container .row .col-sm:hover {
  transform: scale(1.05);
}
.container .row .col-sm img {
  width: 100%; /* Asegura que la imagen tome todo el ancho del contenedor */
  height: auto;
  transition: box-shadow 0.3s ease;
}
.container .row .col-sm img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.container .row .col-sm h3 {
  color: rgb(49, 9, 16);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Crimson Text", serif;
}
.container .row .col-sm p {
  color: rgb(129, 26, 45);
  font-size: 20px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  text-align: center;
}

.container-reservas {
  font-family: "Crimson Text", serif;
  margin-top: 150px;
}
.container-reservas .row {
  width: 100%;
}
.container-reservas .row .col {
  margin: 0;
  padding: 0;
  text-align: center; /* Alinea el texto al centro */
}
.container-reservas .row .col h4 {
  font-family: "Crimson Text", serif;
}
.container-reservas .row img:hover {
  transform: scale(1.1); /* Escala la imagen al 110% del tamaño original cuando se pasa el cursor sobre ella */
  transition: transform 0.3s ease; /* Aplica una transición suave a la escala */
}

body .trabaja-con-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
body .trabaja-con-nosotros h2 {
  font-family: "Playfair Display", italic;
  font-size: 30px;
  text-align: center;
  color: rgb(175, 76, 94);
  margin: 40px auto;
}
body .trabaja-con-nosotros form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  border: 1px rgb(129, 26, 45);
  margin: 50px 0;
  padding: 20px;
  box-sizing: border-box;
}
body .trabaja-con-nosotros form div {
  width: 100%;
  margin-bottom: 15px;
}
body .trabaja-con-nosotros form div p, body .trabaja-con-nosotros form div label {
  font-family: "";
  font-size: 20px;
}
body .trabaja-con-nosotros form div input, body .trabaja-con-nosotros form div .form-check-input, body .trabaja-con-nosotros form div .form-control {
  width: 100%;
}
body .trabaja-con-nosotros form div .dropdown {
  width: 100%;
}
body .trabaja-con-nosotros form .btn {
  width: 100%;
}

@media (max-width: medida3) {
  body main form {
    padding: 10px;
  }
  body main form div p, body main form div label {
    font-size: 18px;
  }
  body main form div input, body main form div .form-check-input, body main form div .form-control {
    font-size: 16px;
  }
  body main form .btn {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  body main h2 {
    font-size: 24px;
  }
  body main form {
    padding: 5px;
  }
  body main form div p, body main form div label {
    font-size: 16px;
  }
  body main form div input, body main form div .form-check-input, body main form div .form-control {
    font-size: 14px;
  }
  body main form .btn {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
